<a href="https://colab.research.google.com/github/vg0303/ML_GirlScript/blob/main/ExploratoryDataAnalysis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exploratory Data Analysis

Date created: 12/06/21

[For downloading the dataset, click here](https://archive.ics.uci.edu/ml/datasets/Student+Performance)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
cd '/content/drive/MyDrive/ML_Colab/EDA/student'

/content/drive/MyDrive/ML_Colab/EDA/student

In [12]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt

Importing the necessary libraries

In [14]:
import pandas as pd                 #working with csv or excel files
import numpy as np                  #working with numbers/ arrays/ tensors
import tensorflow as tf             #framework
from tensorflow import keras        #API / library 
import os                           #using os commands between the python language

**To load the data we have,**

**mathData** is just a variable name that we have chosen, we are assigning it with the data file. Now we can use this variable everytime we need to access the data file.

To understand the meaning of the columns, or the types of values accpeted by that column, check out the **txt file**, it has the description of the input types.

In [16]:
mathData = pd.read_csv('student-mat.csv', sep=';') 
#load the csv file as dataframe and "sep" is used to separate the columns as in the text file, data is separated by ";"

In [17]:
mathData.tail(10) 
#default is the number 5 if you dont specify anything
#prints 10 rows from bottom

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
385     MS   F   18       R     GT3       T  ...     3       4        2  10   9  10
386     MS   F   18       R     GT3       T  ...     2       5        7   6   5   6
387     MS   F   19       R     GT3       T  ...     2       5        0   7   5   0
388     MS   F   18       U     LE3       T  ...     1       1        0   7   9   8
389     MS   F   18       U     GT3       T  ...     1       5        0   6   5   0
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[10 rows x 33 columns]

In [18]:
mathData.head(10) 
#print the first ten rows of the dataframe
#prints 10 rows from top

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

#Data Processing

For the model to work we need to convert the categorical data into numerical data so that it can worked upon.

For doing that we need to first find out all the possible unique values for every column present in the data file. Use the below code to find out.

In [19]:
#unique classes/categories in every column 

# variable.column.unique() --> all {column} values from the {variable} dataframe and print out the unique ones. 


print(f'school: {mathData.school.unique()}')
print(f'sex: {mathData.sex.unique()}')
print(f'address: {mathData.address.unique()}')
print(f'Mjob: {mathData.Mjob.unique()}')
print(f'Fjob: {mathData.Fjob.unique()}')
print(f'higher: {mathData.higher.unique()}')

school: ['GP' 'MS']
sex: ['F' 'M']
address: ['U' 'R']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
higher: ['yes' 'no']

Considering the

`mathData['school'] = mathData['school'].apply({'GP':1, 'MS':2}.get)`

over the whole column "school" **apply** the numrical values which you will **get** from the dictionary

Access the column school from the variable mathData (which has the pandas dataframe). 

Once we access it, since we are using a dictionary we will replace the string / categorical values with numeric data.

Meaning -->

1.   Replace GP with 1
2.   Replace MS with 2

NOTE:
You can have 1 or 0 for binary but never start from 0 for multiclasses/multiple categories, instead go like 1,2,..

In [20]:
#convert the categories into numbers 

#binary valued 

mathData['school'] = mathData['school'].apply({'GP':1, 'MS':2}.get)
mathData['sex'] = mathData['sex'].apply({'F':1, 'M':2}.get)
mathData['address'] = mathData['address'].apply({'U':1, 'R':2}.get)
mathData['higher'] = mathData['higher'].apply({'yes':1, 'no':2}.get)


#multi-valued
mathData['Mjob'] = mathData['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathData['Fjob'] = mathData['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

mathData.head(20)

    school  sex  age  address famsize  ... health  absences  G1  G2  G3
0        1    1   18        1     GT3  ...      3         6   5   6   6
1        1    1   17        1     GT3  ...      3         4   5   5   6
2        1    1   15        1     LE3  ...      3        10   7   8  10
3        1    1   15        1     GT3  ...      5         2  15  14  15
4        1    1   16        1     GT3  ...      5         4   6  10  10
5        1    2   16        1     LE3  ...      5        10  15  15  15
6        1    2   16        1     LE3  ...      3         0  12  12  11
7        1    1   17        1     GT3  ...      1         6   6   5   6
8        1    2   15        1     LE3  ...      1         0  16  18  19
9        1    2   15        1     GT3  ...      5         0  14  15  15
10       1    1   15        1     GT3  ...      2         0  10   8   9
11       1    1   15        1     GT3  ...      4         4  10  12  12
12       1    2   15        1     LE3  ...      5         2  14  14  14
13       1    2   15        1     GT3  ...      3         2  10  10  11
14       1    2   15        1     GT3  ...      3         0  14  16  16
15       1    1   16        1     GT3  ...      2         4  14  14  14
16       1    1   16        1     GT3  ...      2         6  13  14  14
17       1    1   16        1     GT3  ...      4         4   8  10  10
18       1    2   17        1     GT3  ...      5        16   6   5   5
19       1    2   16        1     LE3  ...      5         4   8  10  10

[20 rows x 33 columns]